<template lang="">
    <div class="">
        <div class="pattern-img">
            <div class="serch-input container">
                <h4 class="text-light">IP Address Tracker</h4>
                <div class="col-12 col-lg-5 col-sm-12 col-md-10 m-auto">
                    <div class="input-group justify-center">
                        <input type="text" aria-label="First name" class="form-control" placeholder="search for any ip address or domain" v-model="queryIp">
                        <span class="input-group-text bg-dark" @click="getLocation(queryIp)"><i class="fas fa-chevron-right text-light"></i></span>
                    </div>
                </div>
            </div>
            <div class="">
                <IPInfo v-if="ipInfo" :ipInfo="ipInfo"/>
            </div>
        </div>
         <div id="map" class=""></div>
    </div>
</template>
<script>
    import IPInfo from '../components/IPInfo.vue'
    import leaflet from 'leaflet'
    import axios from 'axios'
export default {
    components:{IPInfo},
    data() {
        return {
            queryIp:"",
            ipInfo: null,
           
        }
    },
    mounted() {
         let map = leaflet.map('map').setView([9.0820, 8.6753], 6);

        leaflet.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoieW9taS1hbHVrbyIsImEiOiJjbDJhdHlkaW8wNHVhM2ZwNzJ2eWw0dWpuIn0.7rSBpx0wXMHQKl6XGfPylA', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoieW9taS1hbHVrbyIsImEiOiJjbDJhdHlkaW8wNHVhM2ZwNzJ2eWw0dWpuIn0.7rSBpx0wXMHQKl6XGfPylA'
            }).addTo(map);
        },

    methods: {
        getLocation(queryIp){
            
           axios.get(`https://geo.ipify.org/api/v2/country?apiKey=at_9Vz83NqxStAyYn3xEMwlsSs0g4Wyw&ipAddress=${queryIp}`)
            .then(res=>{
                const result = res.data
                console.log(result)
                this.ipInfo = {
                    address: result.ip,
                    state:  result.location.region,
                    timezone: result.location.timezone,
                    isp: result.isp,
                    lat: result.location.lat,
                    lng: result.location.lng
                }
            })
        }
    }
}
</script>
<style>
    .pattern-img{
        background-image: url('/src/assets/pattern-bg.png');
        width: 100%;
        height: 30vh;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        position: relative;
        background-size: cover;
        padding-top: 2rem;
        z-index: 20;
    }
    .input-group-text{
        border: none;
    }

    #map{
        height: 70vh;
        z-index: 10;
        overflow: hidden;
    }
    
</style>