<template lang="">
    <div class="ip-info shadow py-3">
        <div class="row p-2">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 py-2">
                <h3>IP Address</h3>
                <span><b>{{ipInfo.address}}</b></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 py-2">
                <h3>Location</h3>
                <span><b>{{ipInfo.state}}</b></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 py-2">
                <h3>Time Zone</h3>
                <span><b>UTC {{ipInfo.timezone}}</b></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <h3><b>Isp</b></h3>
                <span><b>{{ipInfo.isp}}</b></span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:["ipInfo"]
}
</script>
<style>
    .ip-info{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 800px;
        margin: auto;
        background-color: #fff;
        bottom: -65px;
        border-radius: 10px;
    }
    h3{
        font-size: 13px;
    }
    @media (max-width:1024px){
        .ip-info{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 650px;
        margin: auto;
        background-color: #fff;
        bottom: -65px;
        border-radius: 10px;
    }
    }
    @media (max-width:968px){
        .ip-info{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 700px;
        margin: auto;
        background-color: #fff;
        bottom: -70px;
        border-radius: 10px;
    }
    }
    @media (max-width:768px){
        .ip-info{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 450px;
        margin: auto;
        background-color: #fff;
        /* bottom: -200px; */
        border-radius: 10px;
    }
    }
    @media (max-width:766px){
        .ip-info{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 450px;
        margin: auto;
        background-color: #fff;
        bottom: -200px;
        border-radius: 10px;
    }
    }
    @media (max-width:468px){
        .ip-info{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 300px;
        margin: auto;
        background-color: #fff;
        bottom: -170px;
        border-radius: 10px;
    }
    }
    @media (max-width:400px){
        .ip-info{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 300px;
        margin: auto;
        background-color: #fff;
        bottom: -220px;
        border-radius: 10px;
    }
    }
</style>